:stylus
  .menu-item
    cursor: pointer

.nz-list.nz-scroller.scroller(fxFlex="grow")
  ng-template(ngFor bind-ngForOf="menuItems" let-menuItem)
    .nz-list-item.menu-item
      ng-template(bind-ngTemplateOutlet="menuItem.tpl")
