:stylus
  .menu-item
    cursor: pointer

.nz-scroller(fxFlex="grow")
  .nz-list(scrollable)
    ng-template(ngFor bind-ngForOf="menuItems" let-menuItem)
      .nz-list-item.menu-item(fxLayout="row", fxLayoutAlign="start stretch")
        ng-template(bind-ngTemplateOutlet="menuItem.tpl")
