.nz-scroller(fxFlex="grow")
  div(scrollable, fxLayout="column", fxLayoutAlign="start stretch")
    ng-template(ngFor, [ngForOf]="menuItems", let-menuItem)
      ng-container([ngTemplateOutlet]="menuItem.tpl")
