.nz-scroller(fxFlex="grow")
  div(scrollable, fxLayout="column", fxLayoutAlign="start stretch")
    ng-template(ngFor bind-ngForOf="menuItems" let-menuItem)
      ng-template(bind-ngTemplateOutlet="menuItem.tpl")
