:stylus
  .drawer-overlay
    position: absolute
    z-index: 2
    left: 0
    top: 0
    right: 0
    bottom: 0
    background-color: $theme.foreground.default
    opacity: 0
    display: none
    visibility: hidden
    transition: opacity 250ms

    &.visible
      opacity: 0.5
      visibility: visible
      display: block


//- .drawer-content(#content)
ng-content(select=".nz-content")

.drawer-overlay(*ngIf="overlayed" bind-ngClass="{visible:hasOpenedPanel}")

ng-content(select=".nz-panel")
