:stylus
  @require "../index.styl"

  .content
    position: relative

  .rows
    display: grid
    justify-content: stretch

  .empty
    grid-row: 1
    grid-column: 1

  .body
    flex: 1

  .progress
    position: absolute
    top: 50%
    left: 50%

  .busy-text
    color: $theme.common.normal


.nz-scroller(fxFlex="grow", orient="horizontal")
  div(scrollable, fxLayout="column", fxLayoutAlign="start stretch", [updateMinWidth]="updateMinWidth")
    .nz-list-header([ngStyle]="{'padding-left.px': _padding.left, 'padding-right.px': _padding.right}", fxFlex="none")
      ng-content(select=".nz-columns", ngProjectAs=".nz-columns")

    .nz-scroller.body(orient="vertical", fxFlex="grow")
      .content(scrollable, (tap)="onTap($event)", [style.height]="displayLoading ? '100%' : null")
        .nz-list.rows(
            [style.gridTemplate]="gtRows",
            [ngStyle]="{'padding-left.px': _padding.left, 'padding-right.px': _padding.right, 'padding-bottom.px': _padding.bottom}")
          ng-template(nzVirtualFor, [nzVirtualForOf]="source" let-virtual let-row="index" bind-fixedItemHeight="_rowHeight")
            .nz-data-grid-row(
              [style.gridTemplate]="gtRow",
              [row]="row",
              [selectable]="virtual",
              [selectionIndex]="row")

              ng-template(ngFor, [ngForOf]="columns.items" let-column let-col="index" let-firstCell="first" let-lastCell="last")
                .nz-data-grid-cell(
                  [row]="row",
                  [col]="col",
                  [column]="column",
                  [data]="virtual",
                  [class.first-cell]="firstCell",
                  [class.last-cell]="lastCell")

          .nz-list-empty.empty(*ngIf="displayEmptyText") {{ emptyText }}

          .progress(
              *ngIf="displayLoading",
              #progress,
              [ngStyle]="{'margin-left.px': -progress.offsetWidth/2, 'margin-top.px': -progress.offsetHeight/2}",
              nzLayout="column",
              nzLayoutAlign="start center",
              nzLayoutGap="8px")
            nz-progress(type="circle", [strokeWidth]="6", [radius]="40", color="common")
            .nz-list-empty(*ngIf="busyText") {{ busyText }}
