@import "../field/form-field"

.nz-placeholder
  position: relative
  overflow: visible !important

  > label
    position: absolute
    top: 0px
    left: 2px
    right: 0px
    bottom: 0px
    cursor: text
    color: $theme.common.dark
    user-select: none
    pointer-events: none
    opacity: 1
    transform-origin: top left

  &[variant="hide"]
    &[animate] > label
      transition: opacity $nz-form-field-anim-duration

    &[ishidden] > label
      opacity: 0

  &[variant="translate"]
    &[animate] > label
      transition: transform $nz-form-field-anim-duration

    &[ishidden] > label
      transform: translate(-2px, -($nz-form-field-top-caption-height)) scale(0.8)
