@require "../../../util"

.nz-richtext-input
  font: inherit
  background: transparent
  border: none
  outline: none
  margin: 0
  padding: 0
  width: 100%
  max-width: 100%
  vertical-align: bottom
  text-align: inherit
  min-height: nz-local-grid-size(5)
  line-height: nz-local-grid-size(5)
  position: relative


nz-richtext-menu
  display: block
  max-width: inherit
  max-height: inherit
  padding: 4px
  background-color: $theme.base.normal


nz-richtext-acpopup
  display: inline-flex
  background: $theme.base.normal

nz-richtext-autocomplete
  display: inline

  &[focused]
    background-color: alpha($theme.info.normal, 0.1)
    background-image: linear-gradient($theme.info.normal, $theme.info.normal)
    background-position: 0% 100%
    background-repeat: no-repeat
    background-size: 100% 2px

nz-richtext-portal
  display: inline

  &[focused]
    background-color: alpha($theme.info.normal, 0.1)
    background-image: linear-gradient($theme.info.normal, $theme.info.normal)
    background-position: 0% 100%
    background-repeat: no-repeat
    background-size: 100% 2px

// .nz-richtext-highlight
//   position: relative
//   background: alpha($theme.primary.dark, 0.05)

//   &:before
//     content: " "
//     overflow: hidden
//     position: absolute
//     height: 2px
//     background: $theme.primary.normal
//     left: 0px
//     right: 0px
//     bottom: -2px
