@require "../../../util"

.nz-richtext-input
  font: inherit
  background: transparent
  border: none
  outline: none
  margin: 0
  padding: 0
  width: 100%
  max-width: 100%
  vertical-align: bottom
  text-align: inherit
  min-height: nz-local-grid-size(5)
  line-height: nz-local-grid-size(5)
  position: relative
