@require "../../../util"

.nz-richtext-input
  font: inherit
  background: transparent
  border: none
  outline: none
  margin: 0
  padding: 0
  width: 100%
  max-width: 100%
  vertical-align: bottom
  text-align: inherit
  min-height: nz-local-grid-size(5)
  line-height: nz-local-grid-size(5)
  position: relative


nz-richtext-menu
  display: block
  max-width: inherit
  max-height: inherit
  padding: 4px
  background-color: $theme.base.normal


nz-richtext-acanchor
  display: inline-block
  position: relative
  background: alpha($theme.base.on.normal, 0.15)
  padding: 0 1px


nz-richtext-acpopup
  display: inline-flex
  background: $theme.base.normal

nz-richtext-portal
  display: inline-block
