:stylus
  .scroller
    width: 100%
    height: 100%
    max-height: inherit !important
    max-width: inherit !important
    display: block !important

  .editor
    min-height: nz-local-grid-size(5)
    white-space: normal


.nz-scroller.scroller(#scroller)
  div(scrollable )
    .editor(
      #input,
      [nzRichtext]="",
      [attr.tabindex]="tabIndex",
      contenteditable="true",
      (value)="_handleInput($event)")
