@require "../../util"

$nz-icon-margin ?= nz-local-grid-size(2)

.nz-icon
  display: inline-block

  for color, value in nz-theme-colors($theme)
    &{'[color="' + color + '"]'}
      color: value.normal
