@require "../../util"


$nz-list-item-height ?= nz-local-grid-size(12)


.nz-list
  margin: 0
  padding: 0
  list-style-type: none

.nz-list-item
  position: relative
  margin: 0
  padding: 0
  height: $nz-list-item-height
  background: $theme.base.normal

  display: flex
  align-items: center
  justify-content: space-between
  white-space: nowrap

  nz-theme-component-states("common", "dark", $include:"base" "hover" "disabled")
  nz-theme-component-states("accent", "normal", $include:"selected" "focused")
