@require "../../util"


$nz-list-item-height ?= nz-local-grid-size(12)
$nz-list-item-padding ?= 0 nz-local-grid-size(4)


.nz-list
  margin: 0
  padding: 0
  box-sizing: border-box
  list-style-type: none
  background: $theme.base.normal

.nz-list-item
  position: relative
  margin: 0
  padding: 0
  box-sizing: border-box
  height: $nz-list-item-height
  padding: $nz-list-item-padding

  display: flex
  align-items: center
  justify-content: space-between
  white-space: nowrap

  transition: background-color 250ms, color 250ms


  nz-theme-component-states("common", "dark", $include:"base" "hover" "disabled")

  /*
  &:not([disabled])
    &:not([color])
      color: $theme.foreground.tri-state.normal.fg

      &[selected]:not(:hover)
        color: $theme.accent.tri-state.selected.fg
        background-color: $theme.accent.tri-state.selected.bg

      &:hover, &[focused]
        color: $theme.foreground.tri-state.hover.fg
        background-color: $theme.foreground.tri-state.hover.bg

      &[focused]::before
        content: ""
        position: absolute
        top: 0
        bottom: 0
        left: 0
        width: 3px
        background-color: $theme.accent.default

      .nz-ripple
        background-color: $theme.foreground.default

    for color, value in nz-theme-colors($theme)
      &{'[color="' + color + '"]'}
        color: value.tri-state.normal.fg

        &[selected]:not(:hover)
          color: value.tri-state.selected.fg
          background-color: value.tri-state.selected.bg

        &:hover, &[focused]
          color: value.tri-state.hover.fg
          background-color: value.tri-state.hover.bg

        &[focused]::before
          content: ""
          position: absolute
          top: 0
          bottom: 0
          left: 0
          width: 3px
          background-color: value.darker

        .nz-ripple
          background-color: value.default
    */
