:stylus
  .label
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    display: block

  .filter
    flex: none

  .sorting
    flex: none
    width: 36px
    height: 36px
    text-align: center
    display: inline-flex
    align-items: center
    justify-content: center

.label
  ng-content(select="label")

.sorting(*ngIf="sortable && sortDirection")
  nz-icon(*ngIf="sortDirection==='asc'" class=icon("mdi/sort-ascending", 20))
  nz-icon(*ngIf="sortDirection==='desc'" class=icon("mdi/sort-descending", 20))

.nz-fab.filter(*ngIf="filter" on-tap="showFilter($event)")
  nz-icon(*ngIf="filter.isEmpty" class=icon("mdi/filter-outline", 20))
  nz-icon(*ngIf="!filter.isEmpty" class=icon("mdi/filter", 20))
