.nz-file-inpout
  position: relative
  font: inherit
  background: transparent
  border: none
  outline: none
  padding: 0
  margin: 0
  width: 100%
  max-width: 100%
  vertical-align: bottom
  text-align: left

  display: inline-flex
  flex-direction: row
  align-items: center
  user-select: none

  cursor: default

  &[disabled]
    opacity: 0.3 !important
    pointer-events: none
