.nz-file-input
  position: relative
  font: inherit
  background: transparent
  border: none
  outline: none
  padding: 0
  margin: 0
  width: 100%
  max-width: 100%
  vertical-align: bottom
  text-align: left

  user-select: none

  cursor: default
  overflow: visible !important

  &[disabled]
    opacity: 0.3 !important
    pointer-events: none
