:stylus
  .remove
    margin-left: 8px !important
    margin-right: -8px !important
    flex: none

ng-content
.nz-button.remove(*ngIf="removable", (tap)="remove($event)", (mousedown)="$event.preventDefault()", color="light-common", variant="very-tiny filled icon")
  i.nz-icon(class=icon("mdi/close", 16))
