
ng-template([ngIf]="tplItem")
  .nz-scroller(fxFlex="grow")
    div(scrollable)
      .nz-list(
        fxLayout="column",
        fxLayoutAlign="start stretch",
        [style.padding-top.px]="paddingTop",
        [style.padding-left.px]="paddingLeft",
        [style.padding-right.px]="paddingRight",
        [style.padding-bottom.px]="paddingBottom")
        ng-template(nzVirtualFor, [nzVirtualForOf]="source" let-virtual let-index="index")
          .nz-exlist-item([data]="virtual", [index]="index")
