@require "../../util"
@require "../list/list"


.nz-exlist-item
  position: relative
  padding: 0

  background-color: $theme.base.normal

  display: flex
  align-items: center
  justify-content: space-between
  white-space: nowrap
  nz-typo: $typo.body2
  transition: margin 200ms

  &:before
    display: block
    content: " "
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    box-shadow: 0 -1px 0 $theme.base.dark,
      0 0 2px rgba(0, 0, 0, .12),
      0 2px 4px rgba(0, 0, 0, .24)
