:stylus
  .expanded
    width: 100%

  .header
    position: relative
    min-height: 52px
    background-color: $theme.base.normal
    border-bottom: 1px solid $theme.base.dark
    z-index: 15

  .content
    position: relative
    z-index: 5

  .footer
    position: relative
    background-color: $theme.base.dark
    color: $theme.base.on.dark
    z-index: 10


ng-container(nzLayout="column", nzLayoutAlign="start stretch")
  ng-template([ngIf]="!_selected", [ngIfElse]="selectedTpl")
    div.nz-exlist-item-collapsed(nzFlex="noshrink", nzLayout="row", nzLayoutAlign="start center", (tap)="onHeaderTap($event)")
      ng-container([ngTemplateOutlet]="list.tplItem", [ngTemplateOutletContext]="this")

ng-template(#selectedTpl)
  div.header(nzFlex="noshrink", nzLayout="row", nzLayoutAlign="start center", (tap)="onHeaderTap($event)", #header)
    ng-container([ngTemplateOutlet]="list.tplExHeader || list.tplItem", [ngTemplateOutletContext]="this")

  div.content(nzFlex="grow", nzLayout="column", nzLayoutAlign="start stretch", #content)
    ng-container([ngTemplateOutlet]="list.tplExContent", [ngTemplateOutletContext]="this")

  ng-template([ngIf]="list.tplExFooter")
    div.footer(nzFlex="noshrink", nzLayout="row", nzLayoutAlign="start center", #footer)
      ng-container([ngTemplateOutlet]="list.tplExFooter", [ngTemplateOutletContext]="this")
