:stylus
  .date
    flex: none
    width: auto

    margin-right: 16px

  .time
    flex: none
    width: auto


input.nz-input.date(type="date" bind-formControl="dateValue")
input.nz-input.time(type="time" bind-formControl="timeValue")
