

.nz-stack
  position: relative
  overflow: hidden

  &[variant="fixed"]
    .nz-stack-child
      position: absolute
      right: 0
      bottom: 0


.nz-stack-child
  visibility: hidden
  top: 0
  left: 0
