ng-template(ngFor, [ngForOf]="children", let-child, let-i="index")
  ng-template([ngIf]="_childData[i]")
    .nz-stack-child(
      nzLayout="column",
      nzLayoutAlign="start stretch",
      [nzStackData]="_childData[i]",
      [translate]="_childTranslate[i]")
      ng-container([ngTemplateOutlet]="child.tpl")
