ng-template(ngFor, [ngForOf]="children", let-child, let-i="index")
  ng-template([ngIf]="childSwitch[i]")
    .nz-stack-child(
      nzLayout="column",
      nzLayoutAlign="start stretch",
      [@childSwitch]="childSwitch[i]",
      (@childSwitch.start)="_startChildAnim($event, i)",
      (@childSwitch.done)="_doneChildAnim($event, i)")
      ng-container([ngTemplateOutlet]="child.tpl")
