ng-template(ngFor, [ngForOf]="children", let-child, let-i="index")
  ng-template([ngIf]="childSwitch[i]")
    .nz-stack-child(
      fxLayout="column",
      fxLayoutAlign="start stretch",
      [@childSwitch]="childSwitch[i]",
      (@childSwitch.start)="_startChildAnim(i)",
      (@childSwitch.done)="_doneChildAnim(i)")
      ng-template([ngTemplateOutlet]="child")
