@require "../../util"

$nz-navbar-height ?= nz-local-grid-size(14)

.nz-navbar
  position: relative
  display: flex
  background: $theme.primary.normal
  padding: 0 nz-local-grid-size(4)
  align-items: center
  align-content: center
  height: $nz-navbar-height

.nz-navbar h1
  color: $theme.primary.on.normal
  nz-typo: $typo.h6
  margin: 0

.nz-navbar-search
  position: relative
  width: 200px
  padding: 8px
  box-sizing: border-box

  background: $theme.primary.dark
  color: $theme.primary.on.dark

  transition: width 200ms, color 200ms
  border-radius: 2px

  &:before
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    content: " "
    nz-elevation: 6
    opacity: 0
    transition: opacity 200ms

  &[focused]
    background: $theme.base.normal
    color: $theme.base.on.normal
    width: 500px

    &:before
      opacity: 1
