:stylus
  @require "../index.styl"

  .input-row
    padding: 0 8px

ng-template(#layer)
  form.nz-grid-filter-layer.nz-vbox(align="stretch" style="min-width:400px" on-submit="applyFilter();$event.preventDefault()" ngNoForm)
    .nz-hbox.input-row
      //- .nz-form-field
      //-   .nz-select(bind-formControl="operator" bind-dataSource="operators" valueField="id")

      .nz-form-field(flex=1)
        input.nz-input(bind-formControl="value")

    .nz-hbox
      button.nz-button(on-click="clearValue()") Törlés
      div(flex=1)
      button.nz-button(color="confirm" type="submit") Szűrés


ng-template(#chip)
  .nz-grid-filter-chip(bind-title="title" on-remove="clearValue()")
    | {{ valueText }}

