ng-content(select="[nzFabmenuTrigger]")

ng-template(#layer)
  div.nz-fab-popup(fxLayout="column inline", fxLayoutAlign="start center", fxLayoutGap="16px", (tap)="hide()")
    ng-template(ngFor, [ngForOf]="buttons", let-btn, let-i="index")
      ng-container([ngTemplateOutlet]="btn.tpl")
