:stylus
  .close-button
    margin-left: 8px
    margin-right: 2px

  .field-title
    color: #DDD

  .filter-value
    margin-left: 4px


span.field-title Első hívás:
div.filter-value 2 napnál korábban

.nz-fab.close-button
  nz-icon(class=icon("mdi/close", 20))
