:stylus
  .scrollable
    padding: 16px 0


ng-container(nzLayout="column", nzLayoutAlign="start stretch")
  .nz-scroller(nzFlex="grow")
    .scrollable(scrollable)
      .nz-tree-item(*ngIf="root", [level]="rootVisible ? 0 : -1", [model]="root", [isNode]="true")
