:stylus
  @require "../list/list"

  .list
    display: inline-grid
    grid-template-columns: 1fr

  .item
    cursor: pointer
    user-select: none
    grid-column: 1

.nz-scroller.scroller(bind-style.display="storage.total === 0 ? 'none' : 'inline-grid'")
  .nz-list.list(#list bind-style.gridTemplateRows="gridTemplateRows")
    ng-template(nzVirtualFor, [nzVirtualForOf]="storage" let-virtual let-index="index" let-first="first" let-last="last" bind-fixedItemHeight="48")
      .nz-list-item.item(bind-style.gridRow="index + 1" bind-model="virtual" selectable)
        ng-template(
          bind-ngTemplateOutlet="itemTpl"
          bind-ngTemplateOutletContext="{$implicit:virtual}")

.notfound.nz-list(*ngIf="storage.total === 0")
  .nz-list-item
    i Nem található
