:stylus
  @require "./select"

  .select-dropdown
    background-color: $theme.background.default
    nz-elevation: 6

  .list-item
    cursor: pointer
    height: auto
    white-space: nowrap

  .spacer
    overflow: hidden
    width: 0px
    display: inline-block


input(#hidden type="hidden")

div.select-input
  span.spacer &nbsp;
  ng-template(ngFor bind-ngForOf="selection.items" let-item)
    ng-template(
      bind-ngTemplateOutlet="selectedTpl"
      bind-ngTemplateOutletContext="{$implicit:item}")


ng-template(#default_selected_single let-item)
  span {{ item[displayField] }}

ng-template(#default_selected_multi let-item)
  span {{ item[displayField] }}

ng-template(#default_item let-item)
  span {{ item[displayField] }}
