ng-container(nzLayout="column", nzLayoutAlign="start stretch")
  .nz-tab-labels(
      *ngIf="_tabsAsArray && _tabsAsArray.length > 1",
      [tabs]="tabs",
      [selectedIndex]="selectedIndex",
      (changes)="selectedIndex=$event",
      nzFlex="none")
  .nz-stack(
    #stack,
    nzFlex="grow",
    [children]="_tabsAsArray",
    (changed)="onSelectedIndexChanged($event)")
