ng-container(nzLayout="column", nzLayoutAlign="start stretch")
  div(nzFlex="none", nzLayout="row", nzLayoutAlign="start center")
    .nz-tab-labels(
        *ngIf="_tabsAsArray && _tabsAsArray.length > 1",
        [tabs]="tabs",
        [selectedIndex]="selectedIndex",
        [swipeChanging]="_swipeChanging",
        (changes)="selectedIndex=$event",
        nzFlex="grow")

    ng-content(select="[nzAfterTabLabels]")

  .nz-stack(
    #stack,
    nzFlex="grow",
    [children]="_tabsAsArray",
    [dynamicHeight]="_dynamicHeight",
    [changing]="_swipeChanging",
    (changed)="onSelectedIndexChanged($event)",
    (pan)="onPan($event)")
