$nz-tab-label-height ?= nz-local-grid-size(12)
$nz-tab-label-padding ?= 0 nz-local-grid-size(4)


.nz-tab-label
  position: relative
  height: $nz-tab-label-height
  padding: $nz-tab-label-padding
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  cursor: pointer
  nz-typo: $typo.button

  // table layout
  vertical-align: middle
  text-align: center
  width: 1px
  user-select: none

  &:not([selected])
    .nz-tab-label-content
      opacity: 0.7

.nz-tab-labels
  height: $nz-tab-label-height
  position: relative
  min-width: 100%
  overflow: visible !important

.nz-tab-underline
  position: absolute
  bottom: -1px
  left: 0px
  height: 2px
  width: 1px
  transition: transform 400ms cubic-bezier(0.215, 0.61, 0.355, 1)
  transform-origin: top left


__nz-tabs-color-theme($color)
  .nz-tab-labels
    color: $color.fg.default
    background-color: $color.bg.default
    border-bottom: 1px solid $color.bg.hover

  .nz-tab-label
    .nz-ripple-effect
      background-color: $color.bg.ripple

    &:hover .nz-ripple
      background-color: $color.bg.hover

  .nz-tab-underline
    background-color: $color.line.default

.nz-tabs
  nz-theme-component-colors(__nz-tabs-color-theme)

  .nz-tab-label[disabled]
    cursor: default !important
    opacity: 0.3 !important

    .nz-ripple
      display: none !important
