@require "./new"

$theme = nz-theme(
  primary: nz-palette(purple, 700, 500, 800),
  accent: nz-palette(green, A200, A100, A400),
  warn: nz-palette(yellow, 700, 500, 800),
  critical: nz-palette(red, 600, 400, 800),
  confirm: nz-palette(teal, 600, 300, 800),
  is-ligth: true
)

$font = nz-font("Roboto", 300, 400, 500)
$typo = nz-typo-levels($font)

// $theme.primary.default
// $theme.primary.lighter
// $theme.primary.darker
// $theme.primary.on.default
