:stylus
  .filter
    padding: 8px $nz-grid-padding
    border-top: 1px solid lighten($theme.base.on.normal, 85%)
    background-color: lighten($theme.base.on.normal, 95%)
    flex: none

ng-content(select=".nz-columns")

div.filter(*ngIf="filterSvc && filterSvc.filters.length", fxLayout="row", fxLayoutGap="8px", fxLayoutAlign="start center")
  ng-template(ngFor, [ngForOf]="filterSvc.filters", let-editor)
    ng-container([ngTemplateOutlet]="editor.chip", [ngTemplateOutletContext]="{$implicit:editor}")
