@require "../../../util"


$nz-radio-size ?= nz-local-grid-size(5)
$nz-radio-padding ?= 0 nz-local-grid-size(4)


.nz-radio
  display: inline-block
  user-select: none
  cursor: pointer

  &[label-position="before"]
    .nz-radio-label
      flex-direction: row-reverse

    .nz-radio-input
      margin-left: nz-local-grid-size(2)

  &.nz-radio-checked
    .nz-radio-input
      border-color: $theme.accent.normal

    .nz-radio-indicator
      opacity: 1
      transform: scale(1)

  &.ng-invalid
    .nz-radio-input
      border-color: $theme.critical.normal

    .nz-radio-label
      color: $theme.critical.normal
      // text-decoration: underline

      border-bottom: 2px dotted $theme.critical.normal
      position: relative
      padding-bottom: 1px

      &:after
        content: ""
        position: absolute
        left: 2px
        width: 100%
        bottom: -3px
        display: block
        height: 0px

        border-bottom: 2px dotted $theme.critical.normal


.nz-radio-label
  display: inline-flex
  justify-content: flex-start
  align-items: flex-start
  pointer-events: none

.nz-radio-input
  position: relative
  margin-right: nz-local-grid-size(2)
  pointer-events: none
  width: $nz-radio-size
  height: $nz-radio-size
  border-radius: 50%
  border: 2px solid $theme.base.on.light
  transition: 200ms border-color


.nz-radio-indicator
  position: absolute
  width: ($nz-radio-size - 10)
  height: ($nz-radio-size - 10)
  left: 3px
  top: 3px
  border-radius: 50%
  opacity: 0
  transform: scale(.001)
  transition: 250ms transform, 200ms opacity
  background-color: $theme.accent.normal

