@require "../../style/shape"
@require "../../style/layout"
@require "../../style/vendor-specific"


$nz-radio-size ?= nz-local-grid-size(5)
$nz-radio-padding ?= 0 nz-local-grid-size(4)


.nz-radio
  box-sizing: border-box
  display: inline-block
  padding: $nz-checkbox-padding
  user-select: none
  cursor: pointer

  &[label-position="before"]
    .nz-radio-label
      flex-direction: row-reverse

    .nz-radio-input
      margin-left: nz-local-grid-size(2)

  &.nz-radio-checked
    .nz-radio-input
      border-color: $theme.accent.default

    .nz-radio-indicator
      opacity: 1
      transform: scale(1)


.nz-radio-label
  box-sizing: border-box
  display: inline-flex
  justify-content: flex-start
  align-items: flex-start
  pointer-events: none

.nz-radio-input
  box-sizing: border-box
  position: relative
  margin-right: nz-local-grid-size(2)
  pointer-events: none
  width: $nz-radio-size
  height: $nz-radio-size
  border-radius: 50%
  border: 2px solid $theme.foreground.lighter
  transition: 200ms border-color


.nz-radio-indicator
  box-sizing: border-box
  position: absolute
  width: ($nz-radio-size - 10)
  height: ($nz-radio-size - 10)
  left: 3px
  top: 3px
  border-radius: 50%
  opacity: 0
  transform: scale(.001)
  transition: 250ms transform, 200ms opacity
  background-color: $theme.accent.default

