$nz-radio-size ?= nz-local-grid-size(5)
$nz-radio-padding ?= 0 nz-local-grid-size(4)

$nz-radio-small-size ?= nz-local-grid-size(4)
$nz-radio-small-padding ?= 0 nz-local-grid-size(4)

$nz-radio-anim-duration ?= 200ms cubic-bezier(0.215, 0.61, 0.355, 1)


.nz-radio
  display: inline-block
  user-select: none
  cursor: pointer
  height: $nz-radio-size

  &[label-position="before"]
    .nz-radio-label
      flex-direction: row-reverse

    .nz-radio-input
      margin-left: nz-local-grid-size(2)

  &.nz-radio-checked
    .nz-radio-input
      border-color: $theme.accent.normal

    .nz-radio-indicator
      opacity: 1
      transform: scale(1)

  &.ng-invalid
    .nz-radio-input
      border-color: $theme.critical.normal

    .nz-radio-label
      color: $theme.critical.normal
      // text-decoration: underline

      nz-squiggly-underline: $theme.critical.normal

  &[variant="small"]
    height: $nz-radio-small-size

    .nz-radio-input
      width: $nz-radio-small-size
      height: $nz-radio-small-size

    .nz-radio-indicator
      width: ($nz-radio-small-size - 8)
      height: ($nz-radio-small-size - 8)
      left: 2px
      top: 2px


.nz-radio-label
  display: inline-flex
  justify-content: flex-start
  align-items: center
  pointer-events: none

.nz-radio-input
  position: relative
  pointer-events: none
  width: $nz-radio-size
  height: $nz-radio-size
  border-radius: 50%
  border: 2px solid $theme.base.on.light
  transition: border-color $nz-radio-anim-duration

  & + .nz-radio-content:not(:empty)
    margin-left: nz-local-grid-size(2)


.nz-radio-indicator
  position: absolute
  width: ($nz-radio-size - 10)
  height: ($nz-radio-size - 10)
  left: 3px
  top: 3px
  border-radius: 50%
  opacity: 0
  transform: scale(.001)
  transition: all $nz-radio-anim-duration
  transition-property: transform, opacity
  background-color: $theme.accent.normal

.nz-radio-content
  flex-grow: 1
