label.nz-radio-label(for="{{id}}-rad")
  .nz-radio-input
    input.cdk-visually-hidden(
      #input,
      id="{{id}}-rad",
      type="radio",
      tabindex="-1",
      [attr.name]="name",
      (change)="_handleInputChange($event)")
    .nz-radio-indicator
  span.nz-radio-content
    ng-content
