:stylus
  .scroller
    max-height: inherit
    max-width: inherit

ng-template(#layer let-trigger)
  .nz-scroller.scroller.nz-popup-menu-content
    div(scrollable, fxLayout="column", fxLayoutAlign="start stretch")
      ng-template(ngFor bind-ngForOf="menuItems" let-menuItem)
        ng-template(bind-ngTemplateOutlet="menuItem.tpl")
