:stylus
  @require "./form-field"

  .input-container
    padding: $nz-form-field-input-padding 0

    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: flex-start
    align-items: center
    align-content: center


  .before-input, .after-input
    flex: none
    white-space: nowrap
    cursor: default

  .placeholder
    flex: 1 1

  .caption
    height: $nz-form-field-bottom-caption-height
    nz-typo: $typo.caption

    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: flex-start
    align-items: center
    align-content: center

    .nz-error
      margin-right: 4px

      &:last-child
        margin-right: 0px


.input-container
  .before-input
    ng-content(select="[nzSlot='prefix']")

  .nz-placeholder.placeholder([inputModel]="_inputModel", variant="translate")
    ng-content(ngProjectAs="*")

  .after-input
    ng-content(select="[nzSlot='postfix']")

.underline(#underline)
  .nz-form-field-ripple

.caption
  .nz-error(#error="nzError", [inputModel]="_inputModel", [messages]="messages.toArray()")

  ng-template([ngIf]="error.isEmpty")
    ng-content(select="caption, .nz-caption")
