:stylus
  @require "./form-field"

  .input-container
    padding: $nz-form-field-input-padding 0

  .before-input, .after-input
    flex: none
    white-space: nowrap
    cursor: default

  .caption
    height: $nz-form-field-bottom-caption-height
    nz-typo: $typo.caption
    display: flex
    align-items: center


.input-container(fxLayout="row")
  .before-input
    ng-content(select="[nzSlot='prefix']")

  .nz-placeholder(fxFlex="grow", [hideLabel]="_inputModel && (!_inputModel.isEmpty || _inputModel.focused !== null)", variant="translate")
    ng-content(ngProjectAs="*")

  .after-input
    ng-content(select="[nzSlot='postfix']")

.underline(#underline)
  .nz-form-field-ripple

.caption(fxLayout="row", fxLayoutAlign="start center", fxLayoutGap="4px")
  .nz-error(#error="nzError", [inputModel]="_inputModel", [messages]="messages.toArray()")

  ng-template([ngIf]="error.isEmpty")
    ng-content(select="caption, .nz-caption")
