@require "../../util"

$nz-form-field-input-padding ?= 4px
$nz-form-field-top-caption-height ?= 16px
$nz-form-field-bottom-caption-height ?= 20px

// variant=underlined
// variant=filled
// variant=stroked

.nz-form-field
  display: inline-block
  width: auto
  padding-top: $nz-form-field-top-caption-height

  label
    position: absolute
    top: 0px
    left: 0px
    right: 0px
    bottom: 0px
    cursor: text
    color: $theme.base.on.light
    transition: all $nz-input-focus-transition-duration
    user-select: none
    pointer-events: none

  .underline
    height: 1px
    background-color: $theme.base.on.light
    position: relative

  .nz-form-field-ripple
    height: 2px
    position: absolute
    top: 0px
    opacity: 0
    background-color: $theme.primary.normal
    width: 100%

    transform-origin: 50%
    transform: scaleX(.5)

    transition: transform $nz-input-focus-transition-duration, opacity $nz-input-focus-transition-duration

  &.nz-focused, &.nz-has-value
    label
      nz-typo: $typo.caption
      // color: $theme.primary.default
      top: -($nz-form-field-top-caption-height + 2px)

  &.nz-focused
    .underline
      .nz-form-field-ripple
        opacity: 1
        transform: scaleX(1)

  caption
    height: $nz-form-field-bottom-caption-height
    line-height: $nz-form-field-bottom-caption-height

    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden

    color: $theme.base.on.light




caption
  box-sizing: border-box
  // margin: 0
