@require "../../util"

// variant=underlined
// variant=filled
// variant=stroked

.nz-form-field
  display: inline-block
  width: auto
  padding-top: $nz-form-field-top-caption-height

  .underline
    height: 1px
    background-color: $theme.common.dark
    position: relative

  .nz-form-field-ripple
    height: 2px
    position: absolute
    top: 0px
    opacity: 0
    background-color: $theme.primary.normal
    width: 100%

    transform-origin: 50%
    transform: scaleX(.5)

    transition: transform $nz-form-anim-duration, opacity $nz-form-anim-duration

  &.nz-focused
    .underline
      .nz-form-field-ripple
        opacity: 1
        transform: scaleX(1)

  caption
    height: $nz-form-field-bottom-caption-height
    line-height: $nz-form-field-bottom-caption-height

    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden

    color: $theme.base.on.light


caption
  box-sizing: border-box
  // margin: 0
