:stylus
  @require "./form-field"

  .input-container
    padding: $nz-form-field-input-padding 0

  .before-input, .after-input
    flex: none
    white-space: nowrap
    cursor: default

  .caption
    height: $nz-form-field-bottom-caption-height



.input-container(fxLayout="row")
  .before-input
    ng-content(select="[nzSlot='prefix']")

  .nz-placeholder(fxFlex="grow", [hideLabel]="_inputModel && (!_inputModel.isEmpty || _inputModel.focused)", variant="translate")
    ng-content(ngProjectAs="*")

  .after-input
    ng-content(select="[nzSlot='postfix']")

.underline(#underline)
  .nz-form-field-ripple

.caption
  ng-content(select="caption, .nz-caption")
