$nz-form-field-anim-duration ?= 200ms
$nz-form-field-input-padding ?= 4px
$nz-form-field-top-caption-height ?= 16px
$nz-form-field-bottom-caption-height ?= 20px

// variant=underlined
// variant=filled
// variant=stroked

.nz-form-field
  position: relative
  display: inline-block
  width: auto
  padding-top: $nz-form-field-top-caption-height
  overflow: hidden

  .underline
    height: 1px
    background: $theme.base.on.normal
    position: relative

  .nz-form-field-ripple
    height: 2px
    position: absolute
    top: 0px
    opacity: 0
    background: $theme.accent.normal
    width: 100%

    transform-origin: 50%
    transform: scaleX(.5)

    transition: transform $nz-form-field-anim-duration, opacity $nz-form-field-anim-duration

  &.ng-invalid
    .underline
      .nz-form-field-ripple
        background: $theme.critical.normal !important
        opacity: 1
        transform: scaleX(1)

  &.nz-focused
    .underline
      .nz-form-field-ripple
        opacity: 1
        transform: scaleX(1)

  &[disabled]
    cursor: default !important
    opacity: 0.3 !important
    pointer-events: none

  caption
    height: $nz-form-field-bottom-caption-height
    line-height: $nz-form-field-bottom-caption-height

    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden

    color: $theme.base.on.light


.nz-form-field
  .nz-button[variant~="icon"][variant~="tiny"][nzslot]
    margin: -4px 4px -20px 4px

