

svg(
  [style.width]="width",
  [style.height]="height",
  [style.transform]="'rotate(-90deg)'",
  [attr.width]="width",
  [attr.height]="height",
  preserveAspectRatio="xMidYMid meet",
  focusable="false")
  circle(
    #circle,
    [attr.cx]="_radius",
    [attr.cy]="_radius",
    [attr.r]="_radiusMinusStroke",
    [attr.stroke-width]="strokeWidth",
    [attr.stroke-dasharray]="_dashArray",
    fill="none",
    stroke-linecap="round")
