
nz-progress
  display: block

  &[type="circle"]
    svg
      transform-origin: center

    circle
      transform-origin: center
      transition: stroke 250ms

    for color, value in nz-theme-colors($theme)
      &{'[color="' + color + '"]'} circle
        stroke: value.normal


