
nz-progress
  display: block
  position: relative

  &[type="circle"]
    svg
      transform-origin: center

    circle
      transform-origin: center
      transition: stroke 250ms

  &[type="bar"]
    width: 100%
    line-height: 0px

    svg
      width: 100%
      position: absolute
      top: 0
      left: 0

  for color, value in nz-theme-colors($theme)
    &{'[color="' + color + '"]'}
      circle, line
        stroke: value.normal

      &[type="bar"]
        background-color: alpha(value.normal, 0.3)

    &{'[color="on-' + color + '"]'}
      circle, line
        stroke: value.on.normal

      &[type="bar"]
        background-color: alpha(value.on.normal, 0.3)
