label.nz-checkbox-label(for="{{id}}-chk")
  .nz-checkbox-input
    input.cdk-visually-hidden(
      #input,
      id="{{id}}-chk",
      type="checkbox",
      tabindex="-1",
      [disabled]="disabled",
      [checked]="checked",
      [indeterminate]="indeterminate")
    .nz-checkbox-border
    .nz-checkbox-indicator
      .nz-checkbox-checkmark
  span.nz-checkbox-content
    ng-content
