label.nz-checkbox-label(for="{{id}}-chk")
  span.nz-checkbox-input
    span.nz-checkbox-border
    span.nz-checkbox-indicator
      span.nz-checkbox-checkmark
  span.nz-checkbox-content
    ng-content

input.cdk-visually-hidden(
  #input,
  id="{{id}}-chk",
  type="checkbox",
  tabindex="-1",
  [disabled]="disabled",
  [checked]="checked",
  [indeterminate]="indeterminate")

