$nz-elevation-transition-duration ?= 280ms
$nz-elevation-map = json("elevation.json", { hash: true })

nz-elevation(level)
  box-shadow: $nz-elevation-map["umbra"][s("%s", level)],
              $nz-elevation-map["penumbra"][s("%s", level)],
              $nz-elevation-map["ambient"][s("%s", level)];
