
// round-size small, medium, large, full
nz-rounded-rect(width, height, round-size)
  width: width
  height: height
  if round-size == "small"
    border-radius: 2px
  else if round-size == "medium"
    border-radius: 5px
  else if round-size == "large"
    border-radius: 10px
  else if round-size == "full"
    border-radius: 50%

nz-circle(radius)
  width: radius * 2
  height: radius * 2
  border-radius: 50%
  overflow: hidden
