
user-select(value)
  -webkit-user-select: value
  -moz-user-select: value
  -ms-user-select: value
  user-select: value

placeholder()
  &::-webkit-input-placeholder  /* Chrome/Opera/Safari */
    {block}

  &::-moz-placeholder           /* Firefox 19+ */
    {block}

  &:-moz-placeholder            /* Firefox 18- */
    {block}

  &:-ms-input-placeholder       /* IE 10+ */
    {block}
