
user-select(value)
  -webkit-user-select: value
  -moz-user-select: value
  -ms-user-select: value
  user-select: value

placeholder()
  &::placeholder,
  &::-moz-placeholder,
  &::-webkit-input-placeholder,
  &:-ms-input-placeholder
    {block}
