:stylus
  .drawer-overlay
    position: absolute
    z-index: 2
    left: 0
    top: 0
    right: 0
    bottom: 0
    background-color: $theme.base.on.normal
    opacity: 0
    display: none
    visibility: hidden
    transition: opacity 250ms

  .visible
    opacity: 0.5
    visibility: visible
    display: block


//- .drawer-content(#content)
ng-content(select=".nz-content")

.drawer-overlay(*ngIf="overlayed", [ngClass]=`{"${style('visible')}": hasOpenedPanel}`, (tap)="hideOpenedPanel()")

ng-content(select=".nz-panel")
