

@require "./button/button.styl"
@require "./card/card.styl"
@require "./chip/chip.styl"
@require "./slot/icon.styl"
@require "./panel/drawer.styl"
@require "./panel/panel.styl"


* { box-sizing: border-box }

.nz-divider
  background-color: $theme.base.dark
