:stylus
  .header
    overflow: hidden
    position: relative


ng-container(nzLayout="column", nzLayoutAlign="start stretch")
  .header(
      #header,
      nzFlex="none",
      [style.height]="disabled ? null : headerMinHeight + 'px'",
      [attr.elevation]="elevated ? 2 : null")
    ng-content(select="nz-exheader-header")

  .content(#content, nzFlex="grow", nzLayout="column", nzLayoutAlign="start stretch")
    ng-content(select="nz-exheader-content")
