
@require "./autocomplete/autocomplete"
@require "./list/list"
@require "./exlist/exlist"
@require "./menu/menu"
@require "./scroller/scroller"
@require "./tabs/tabs"
@require "./fabmenu/fabmenu"


.nz-list-empty
  color: $theme.common.dark
  height: 48px
  padding: 0 12px
  nz-typo: $typo.body1
  font-style: italic
  text-align: center

  user-select: none
  pointer-events: none

  display: inline-flex
  flex-direction: column
  justify-content: center
  align-items: center
  align-content center
