@require "../../style/shape"
@require "../../style/layout"
@require "../../style/vendor-specific"


$nz-checkbox-size ?= nz-local-grid-size(5)
$nz-checkbox-padding ?= 0 nz-local-grid-size(4)


.nz-checkbox
  box-sizing: border-box
  display: inline-block
  padding: $nz-checkbox-padding
  user-select: none
  cursor: pointer

  &[label-position="before"]
    .nz-checkbox-label
      flex-direction: row-reverse

    .nz-checkbox-input
      margin-left: nz-local-grid-size(2)

  &.nz-checkbox-checked
    .nz-checkbox-indicator
        opacity: 1

    &:not(.nz-checkbox-indeterminate)
      .nz-checkbox-checkmark
        border: solid alpha($theme.accent.on.default, 0.8)
        border-width: 0 2px 2px 0
        width: 6px
        height: 11px
        opacity: 1
        transform: rotate(45deg)
        top: 3px
        left: 7px

    &.nz-checkbox-indeterminate
      .nz-checkbox-checkmark
        border: 6px solid alpha($theme.accent.on.default, 0.8)
        nz-rounded-rect: 12px, 12px, small
        opacity: 1
        transform: none
        top: 4px
        left: 4px

.nz-checkbox-label
  box-sizing: border-box
  display: inline-flex
  justify-content: flex-start
  align-items: flex-start
  pointer-events: none

.nz-checkbox-input
  margin-right: nz-local-grid-size(2)
  pointer-events: none


.nz-checkbox-indicator
  box-sizing: border-box
  position: absolute
  top: 0
  left: 0
  nz-rounded-rect: $nz-checkbox-size, $nz-checkbox-size, small
  background-color: $theme.accent.default
  opacity: 0
  transition: 250ms opacity

.nz-checkbox-checkmark
  box-sizing: border-box
  position: absolute
  opacity: 0
  transition: 250ms opacity, 250ms transform, 250ms width, 250ms height
