:stylus
  //- @require "./button"

  .button-content
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    line-height: 16px

    display: inherit
    flex-wrap: inherit
    flex-direction: inherit
    justify-content: inherit
    align-items: inherit


.button-content
  ng-content

.nz-ripple
