$nz-button-padding ?= 0 nz-local-grid-size(4)
$nz-button-min-width ?= nz-local-grid-size(22)
$nz-button-height ?= nz-local-grid-size(9)
$nz-button-height-small ?= nz-local-grid-size(6)
$nz-button-padding-small ?= 0 nz-local-grid-size(2)


.nz-button
  cursor: pointer
  outline: none
  border: none
  user-select: none
  -webkit-tap-highlight-color: transparent

  &::-moz-focus-inner
    border: 0
    padding: 0

  nz-typo: $typo.button

  position: relative
  min-width: $nz-button-min-width
  padding: $nz-button-padding

  nz-rounded-rect: auto, $nz-button-height, small

  display: inline-flex
  flex-wrap: nowrap
  flex-direction: row
  justify-content: center
  align-items: center

  white-space: nowrap
  text-decoration: none
  vertical-align: baseline
  text-align: center

  margin: 0
  overflow: hidden
  transition: box-shadow 250ms

  .nz-icon + :not(.nz-icon)
    position: relative
    top: 1px
    margin-left: 8px

  background-color: transparent
  nz-theme-component-states($include:"base" "hover" "disabled")

  &[variant~="icon"], &[variant~="fab"]
    min-width: 0
    padding: 0

    &[variant~="very-tiny"]
      nz-circle: (nz-local-grid-size(5) / 2)

    &[variant~="tiny"]
      nz-circle: (nz-local-grid-size(7) / 2)

    &[variant~="small"], &
      nz-circle: (nz-local-grid-size(9) / 2)

    &[variant~="medium"]
      nz-circle: (nz-local-grid-size(12) / 2)

    &[variant~="large"]
      nz-circle: (nz-local-grid-size(15) / 2)

  &[variant~="small"]:not([variant~="icon"]):not([variant~="fab"])
    nz-typo: $typo.overline
    min-width: 0
    nz-rounded-rect: auto, $nz-button-height-small, small
    padding: $nz-button-padding-small

  &[variant~="fab"]
    &[position="BR"]
      position: absolute
      bottom: nz-local-grid-size(6)
      right: nz-local-grid-size(6)

    &[position="TR"]
      position: absolute
      top: nz-local-grid-size(6)
      right: nz-local-grid-size(6)

  &[focused="keyboard"], &[focused="program"]
    nz-elevation: 5

.nz-button-bar
  padding: nz-local-grid-size(2)
  display: flex
  background-color: rgba(0, 0, 0, 0.1)


.nz-fab-menu
  display: flex
  flex-direction: column
