@require "../../util"

$nz-button-padding ?= 0 nz-local-grid-size(4)
$nz-button-min-width ?= nz-local-grid-size(22)
$nz-button-height ?= nz-local-grid-size(9)


.nz-button
  cursor: pointer
  outline: none
  border: none
  user-select: none
  -webkit-tap-highlight-color: transparent

  &::-moz-focus-inner
    border: 0
    padding: 0

  nz-typo: $typo.button

  position: relative
  min-width: $nz-button-min-width
  padding: $nz-button-padding

  nz-rounded-rect: auto, $nz-button-height, small

  display: inline-flex
  flex-wrap: nowrap
  justify-content: center
  align-items: center

  white-space: nowrap
  text-decoration: none
  vertical-align: baseline
  text-align: center

  margin: 0
  padding: 0
  overflow: hidden
  transition: box-shadow 250ms

  .nz-icon + :not(.nz-icon)
    position: relative
    top: 1px

  nz-theme-component-states($include:"base" "hover" "disabled")

  &[variant~="icon"]
    min-width: 0
    padding: 0

    &[variant~="tiny"]
      nz-circle: (nz-local-grid-size(7) / 2)

    &[variant~="small"], &
      nz-circle: (nz-local-grid-size(9) / 2)

    &[variant~="medium"]
      nz-circle: (nz-local-grid-size(12) / 2)

    &[variant~="large"]
      nz-circle: (nz-local-grid-size(15) / 2)


.nz-fab
  @extend .nz-button[variant~="icon"]

  &[position="BR"]
    position: absolute
    bottom: nz-local-grid-size(6)
    right: nz-local-grid-size(6)

  &[position="TR"]
    position: absolute
    top: nz-local-grid-size(6)
    right: nz-local-grid-size(6)

.nz-button-bar
  padding: nz-local-grid-size(2)
  display: flex
  background-color: rgba(0, 0, 0, 0.1)


.nz-fab-menu
  display: flex
  flex-direction: column
