@require "../../style/vendor-specific"
@require "../../style/shape"
@require "../../style/elevation"
@require "../../style/layout"
@require "../../style/animation"

$nz-button-padding ?= 0 nz-local-grid-size(4)
$nz-button-min-width ?= nz-local-grid-size(22)
$nz-button-height ?= nz-local-grid-size(9)


.nz-button, .nz-fab, .nz-icon-button
  cursor: pointer
  outline: none
  border: none
  user-select: none
  -webkit-tap-highlight-color: transparent

  &::-moz-focus-inner
    border: 0
    padding: 0

  nz-typo: $typo.button

  box-sizing: border-box
  position: relative

  display: inline-block
  white-space: nowrap
  text-decoration: none
  vertical-align: baseline
  text-align: center

  margin: 0
  overflow: hidden
  transition: background-color $nz-button-transition-duration,
              box-shadow $nz-button-transition-duration


// themes + variants
.nz-button:not([disabled]), .nz-fab:not([disabled])
  background-color: transparent

  &[variant~="raised"]
    nz-elevation: 2

  &.cdk-keyboard-focused, &.cdk-program-focused
    nz-elevation: 5

  &:not([color])

    &[variant~="filled"]
      color: $theme.background.tri-state.normal.fg
      background-color: $theme.foreground.tri-state.normal.bg

      &:hover
        color: $theme.background.tri-state.hover.fg
        background-color: $theme.background.tri-state.hover.bg

      .nz-ripple
        background-color: $theme.background.default

    &:not([variant~="filled"])
      color: $theme.foreground.tri-state.normal.fg

      &:hover
        color: $theme.foreground.tri-state.hover.fg
        background-color: $theme.foreground.tri-state.hover.bg

      .nz-ripple
        background-color: $theme.foreground.default

  for color, value in nz-theme-colors($theme)
    &{'[color="' + color + '"]'}
      color: value.tri-state.normal.fg

      &[variant~="filled"]
        color: value.on.default
        background-color: value.default

        .nz-ripple
          background-color: #FFF

      &:not([variant~="filled"])
        &:hover
          color: value.tri-state.hover.fg
          background-color: value.tri-state.hover.bg

        .nz-ripple
          background-color: value.default

.nz-button
  min-width: $nz-button-min-width
  padding: $nz-button-padding

  nz-rounded-rect: auto, $nz-button-height, small
  line-height: $nz-button-height

.nz-fab
  padding: 0

  &[variant~="small"], &
    nz-circle: (nz-local-grid-size(9) / 2)

  &[variant~="medium"]
    nz-circle: (nz-local-grid-size(12) / 2)

  &[variant~="large"]
    nz-circle: (nz-local-grid-size(15) / 2)

  &[position="BR"]
    position: absolute
    bottom: nz-local-grid-size(6)
    right: nz-local-grid-size(6)
  &[position="TR"]
    position: absolute
    top: nz-local-grid-size(6)
    right: nz-local-grid-size(6)

.nz-button-bar
  padding: nz-local-grid-size(2)
  display: flex
  background-color: rgba(0, 0, 0, 0.1)


.nz-fab-menu
  display: flex
  flex-direction: column
