:stylus
  @require "./dialog.styl"

  .title
    margin: 0
    padding: $nz-dialog-padding-top-bottom ($nz-dialog-padding-side + $nz-dialog-padding-top-bottom) $nz-dialog-inner-margin ($nz-dialog-padding-side + $nz-dialog-padding-top-bottom)
    flex: none
    cursor: grab

  .buttons
    padding: $nz-dialog-inner-margin ($nz-dialog-padding-side + $nz-dialog-padding-top-bottom) $nz-dialog-padding-top-bottom ($nz-dialog-padding-side + $nz-dialog-padding-top-bottom)

  .content
    flex: 1
    overflow: hidden

  .message-content
    padding: $nz-dialog-inner-margin ($nz-dialog-padding-side + $nz-dialog-padding-top-bottom)

  .spacer
    flex: 1

block title
  h6.title(bind-innerHTML="title" "*ngIf"="title && title.length" nzDragHandle)

block content
  .content(*ngIf="_content" bind-ngClass=`{"${style('message-content')}": options.isPlainText}`)
    ng-template([cdkPortalOutlet]="_content")

block buttons
  .buttons(*ngIf="buttons && buttons.length", fxLayout="row", fxLayoutAlign="start center", fxLayoutGap="8px")
    ng-template(ngFor bind-ngForOf="buttons" let-button)
      button.nz-button(*ngIf="button.role != 'spacer'",
        fxFlex="noshrink",
        [color]="button.color",
        [variant]="button.variant",
        [attr.type]="button.type",
        (tap)="_handleButtonClick($event, button.role)") {{ button.label }}
      div.spacer(*ngIf="button.role === 'spacer'", fxFlex="grow")
