:stylus
  nz-datetime-picker
    background: $theme.base.normal

.container(fxFlex="grow", fxLayout="column", fxLayoutAlign="start center", tabindex="0")
  nz-date-picker(#dayPicker, [displayed]="displayDate", (value)="date=$event")
  nz-time-picker(#timePicker, (value)="time=$event")
