:stylus
  nz-date-picker
    background: $theme.base.normal
    padding: 16px

  .dayname
    nz-typo: $typo.caption
    color: $theme.common.light
    width: 36px
    text-align: center

  .dayname-x
    border-bottom: 1px solid $theme.common.light

  .today
    stroke: $theme.base.dark
    position: absolute
    left: 0px
    top: 0px

  .data
    nz-typo: $typo.overline
    text-align: center

  .day
    width: 36px
    overflow: hidden


ng-container(nzLayout="column", nzLayoutAlign="start stretch", nzLayoutGap="8px")
  div.month(nzFlex="noshrink", nzLayout="row", nzLayoutAlign="start center", nzLayoutGap="8px")
    div(nzFlex="grow")
      .nz-button(color="dark-common") {{ locale.formatDate(this.displayed, "yyyy MMMM") }}

    .nz-button(nzFlex="noshrink", variant="tiny icon", color="dark-common")
      .nz-icon(class=icon("mdi/chevron-left"), (tap)="decMonth()", (mousedown)="$event.preventDefault()")

    .nz-button(nzFlex="noshrink", variant="tiny icon", color="dark-common")
      .nz-icon(class=icon("mdi/chevron-right"), (tap)="incMonth()", (mousedown)="$event.preventDefault()")

  div.days(nzFlex="grow", nzLayout="column", nzLayoutAlign="start stretch", nzLayoutGap="4px")
    div.daynames(nzFlex="none", nzLayout="row", nzLayoutAlign="start start", nzLayoutGap="2px")
      div.dayname(*ngFor="let name of dayNames", nzFlex="none")
        span.dayname-x {{ name }}

    ng-container(*ngIf="render$ | async as render")
      ng-template(ngFor, [ngForOf]="render.weeks", let-week, let-weekNumber="index")
        div.week(nzFlex="none", nzLayout="row", nzLayoutAlign="start start", nzLayoutGap="2px")
          ng-template(ngFor, [ngForOf]="week", let-day, let-dayNumber="index")
            div.day(*ngIf="render.data[weekNumber][dayNumber] as daydData", nzFlex="noshrink", nzLayout="column", nzLayoutGap="2px", nzLayoutAlign="start center")
              .nz-button(
                [color]="daydData.color",
                [variant]="daydData.variant",
                [disabled]="daydData.disabled",
                (tap)="!daydData.disabled && onDayClick(day)")
                  ng-template([ngIf]="daydData.today", [ngIfElse]="ifNotToday")
                    span {{ day.getDate() }}
                    svg.today(width="100%", height="100%")
                      circle(stroke-width="2", fill="transparent", cx="18", cy="18", r="16")

                  ng-template(#ifNotToday ) {{ day.getDate() }}

              ng-template([ngIf]="daydData.data")
                div.data {{ daydData.data }}

  div.buttons(*ngIf="showButtons", nzFlex="none", nzLayout="row", nzLayoutAlign="center", nzLayoutGap="8px")
    button.nz-button(color="base", variant="filled", (tap)="cancel()") MÉGSE
    button.nz-button(color="confirm", (tap)="onCommitValue()") KÉSZ
