:stylus
  .picker-btn
    margin: -4px 4px -10px 4px
    align-self: start

  .input
    transition: opacity 180ms

div(fxFlex="grow", fxLayout="row", fxLayoutAlign="start center", fxLayoutGap="4px")
  input.nz-input.input(
    fxFlex="grow",
    type="text",
    #input,
    [tabindex]="tabIndex",
    [style.opacity]="(!model.isEmpty || model.focused) ? '1' : '0'",
    [readonly]="readonly")

  ng-template([ngIf]="!readonly && !disabled")
    .nz-button.picker-btn(fxFlex="none", tabindex="-1", color="common", variant="tiny icon", (tap)="opened=!opened")
      i.nz-icon(class=icon("mdi/calendar-today", 18))
