:stylus
  nz-date-picker
    background: $theme.base.normal
    padding: 16px

  .dayname
    nz-typo: $typo.caption
    color: $theme.common.light
    border-bottom: 1px solid $theme.common.light

  .days
    display: inline-grid
    justify-items: center
    align-items: center
    justify-content: space-around


div(fxFlex="grow", fxLayout="column", fxLayoutAlign="start stretch", fxLayoutGap="8px", tabindex="0")
  div.month(fxFlex="noshrink", fxLayout="row", fxLayoutAlign="start center", fxLayoutGap="8px")
    div(fxFlex="grow")
      .nz-button(color="dark-common", tabindex="-1") {{ locale.formatDate(this.displayed, "yyyy MMMM") }}

    .nz-button(fxFlex="noshrink", tabindex="-1", variant="tiny icon", color="dark-common")
      .nz-icon(class=icon("mdi/chevron-up"), on-tapbegin="$event.preventDefault()", on-tap="decMonth()")

    .nz-button(fxFlex="noshrink", tabindex="-1", variant="tiny icon", color="dark-common")
      .nz-icon(class=icon("mdi/chevron-down"), on-tapbegin="$event.preventDefault()", on-tap="incMonth()")

  div.days(fxFlex="grow", [style.gridTemplate]="this.gridTemplate", on-wheel="onWheel($event)")
    div.dayname(*ngFor="let name of dayNames") {{ name }}
    div.day(*ngFor="let day of days")
      .nz-button(
        [color]="isSelected(day) ? 'accent' : isToday(day) ? 'dark-base' : isSameMonth(day) ? 'base' : 'dark-base'",
        [variant]="(isSameMonth(day) ? 'filled ' : '' ) + 'icon'",
        [disabled]="!isAllowed(day)"
        on-action="_emitValue(day)") {{ day.getDate() }}



