:stylus
  .picker-btn
    margin: -4px 4px -10px 4px
    align-self: start

  .input
    transition: opacity 180ms

ng-container(nzLayout="row", nzLayoutAlign="start center", nzLayoutGap="4px")
  input.nz-input.input(
    nzFlex="grow",
    type="text",
    #input,
    [tabindex]="tabIndex",
    [style.opacity]="(model.value || model.focused) ? '1' : '0'")

  .nz-button.picker-btn(nzFlex="none", tabindex="-1", color="common", variant="tiny icon", (tap)="opened=!opened")
    i.nz-icon(class=icon("mdi/alarm", 18))
