
$nz-form-anim-duration ?= 250ms
$nz-form-field-input-padding ?= 4px
$nz-form-field-top-caption-height ?= 16px
$nz-form-field-bottom-caption-height ?= 20px

@require "./placeholder/placeholder"
@require "./field/form-field"
@require "./input/checkbox/checkbox"
@require "./input/date/date"
@require "./input/radio/radio"
@require "./input/select/select"
@require "./input/text/input"
@require "./fieldset/fieldset"

