@require "../../../util"

$nz-select-item-height ?= nz-local-grid-size(5)

.nz-select
  position: relative
  font: inherit
  background: transparent
  border: none
  outline: none
  padding: 0
  margin: 0
  width: 100%
  max-width: 100%
  vertical-align: bottom
  text-align: left

  display: inline-flex
  flex-direction: row
  align-items: center
  user-select: none

  &[editable]
    cursor: text

  &:not([editable])
    cursor: pointer

  &[disabled]
    cursor: default !important
    opacity: 0.3 !important
    pointer-events: none

  &[readonly]
    cursor: default !important
