@require "../../../util"

$nz-select-item-height ?= nz-local-grid-size(5)

.nz-select
  position: relative
  font: inherit
  background: transparent
  border: none
  outline: none
  padding: 0
  margin: 0
  width: 100%
  max-width: 100%
  vertical-align: bottom
  text-align: left

  display: inline-flex
  flex-direction: row
  align-items: center

  &[editable]
    cursor: text

  &:not([editable])
    cursor: pointer


.nz-chip
  display: flex
  nz-typo: $typo.body2
  border-radius: ($nz-select-item-height / 2)
  height: $nz-select-item-height
  flex-direction: row
  align-items: center
  background-color: $theme.background.lighter
  padding: 0 nz-local-grid-size(1) 0 nz-local-grid-size(3)
  cursor: default

  &[selected]
    background-color: $theme.accent.default
    color: $theme.accent.on.default
