:stylus
  @require "./select"
  @require "../../../util"

  .select-dropdown
    background-color: $theme.base.normal
    nz-elevation: 6

  .list-item
    cursor: pointer
    height: auto
    white-space: nowrap

  .select-input
    min-height: nz-local-grid-size(5)
    line-height: nz-local-grid-size(5)
    flex: 1
    display: flex
    flex-wrap: wrap
    justify-content: flex-start
    align-content: flex-start
    align-items: center

  .text-input
    height: nz-local-grid-size(5)
    line-height: nz-local-grid-size(5)
    font: inherit
    background: transparent
    border: none
    outline: none
    padding: 0
    margin: 0
    text-align: inherit
    display: inline-block
    flex: 1
    max-width: 100%
    width: 100%
    min-width: 30px
    color: inherit

  /*
  .arrow-down
    display: inline-block
    width: 0
    height: 0
    border-left: 6px solid transparent
    border-right: 6px solid transparent
    border-top: 6px solid $theme.foreground.lighter
    flex: none
  */

  .chip-item
    margin-right: 8px
    margin-bottom: 8px

  .trigger
    margin: -12px 4px -10px 4px

input(#hidden type="hidden")

div.select-input
  ng-template(bind-ngIf="!editable || selection.type !== 'single'")
    ng-template(ngFor bind-ngForOf="selection.items" let-item let-first="first" let-last="last")
      ng-template(bind-ngIf="item.isListAction" bind-ngIfElse="normalModel")
        ng-template(bind-ngTemplateOutlet="item.action.tpl")
      ng-template(#normalModel)
        ng-template(bind-ngTemplateOutlet="selectedTpl" bind-ngTemplateOutletContext="{$implicit:item,first:first,last:last}")
  input.text-input(*ngIf="editable", type="text",
    #input
    bind-attr.tabindex="tabIndex"
    on-input="_onInput($event)"
    style="flex:1")

button.nz-fab.trigger(*ngIf="!hideTrigger", on-tap="_onTriggerClick($event)", tabindex="-1", variant="tiny filled", style="background-color:transparent")
  i.nz-icon(bind-attr.class=`triggerIcon || '${style(icon("mdi/chevron-down"))}'`)

ng-template(#default_selected_single let-item)
  span {{ item[displayField] }}

ng-template(#default_selected_multi let-item let-first="first")
  span.nz-chip.chip-item(bind-class.first="first" bind-selectable="item" bind-selection="chipSelection") {{ item[displayField] }}

ng-template(#default_item let-item)
  span {{ item[displayField] }}
