

nz-autocomplete
  background: $theme.base.normal
  display: inline-flex
  max-height: inherit
  max-width: inherit
  position: relative
  border-bottom-left-radius: 2px
  border-bottom-right-radius: 2px
