

.nz-scroller
  overflow: hidden
  position: relative


.nz-scrollbar
  position: absolute
  user-select: none

  &[orient="horizontal"]
    left: 0
    bottom: 0

  &[orient="vertical"]
    top: 0
    right: 0


.nz-scrollbar-bar
  background-color: #848484
  opacity: 0.7
