

.nz-scroller
  overflow: hidden
  position: relative
  max-width: 100%
  max-height: 100%
  display: inline-flex

  &[orient="horizontal"]
    flex-direction: row

  &[orient="vertical"]
    flex-direction: column

.nz-scrollbar
  position: absolute
  user-select: none
  z-index: 100

  &[orient="horizontal"]
    left: 0
    bottom: 0

    .nz-scrollbar-bar
      bottom: 3px
      height: 5px
      border-radius: 5px
      transition: height 250ms, bottom 250ms

    &:hover
      .nz-scrollbar-bar
        bottom: 1px
        height: 10px

  &[orient="vertical"]
    top: 0
    right: 0

    .nz-scrollbar-bar
      right: 3px
      width: 5px
      border-radius: 5px
      transition: width 250ms, right 250ms

    &:hover
      .nz-scrollbar-bar
        right: 1px
        width: 10px


.nz-scrollbar-bar
  position: absolute
  background-color: #848484
  opacity: 0.7
  // transition: top 100ms, left 100ms
