@require "../util"

// $nz-data-grid-padding ?= nz-local-grid-size(6)
$nz-data-grid-header-height ?= nz-local-grid-size(11)
$nz-grid-padding ?= nz-local-grid-size(6)
$nz-cell-padding ?= nz-local-grid-size(2)

.nz-grid
  box-sizing: border-box
  position: relative

  display: flex
  flex-direction: column

  align-items: stretch
  align-content: stretch

.nz-columns
  box-sizing: border-box
  display: grid
  justify-content: stretch
  flex: none
  height: $nz-data-grid-header-height
  padding: $nz-grid-padding

.nz-column
  position: relative
  nz-typo: $typo.subtitle2

  box-sizing: border-box
  overflow: hidden
  height: $nz-data-grid-header-height
  display: flex
  align-items: center
  user-select: none

  padding: 0 $nz-cell-padding
  background-color: lighten($theme.base.on.normal, 95%)

  &:first-child
    padding-left: $nz-grid-padding

  &:last-child
    padding-right: $nz-grid-padding


.nz-data-grid-row
  display: grid
  justify-content: stretch

  position: relative
  padding: 0
  box-sizing: border-box

  // background-color: $theme.base.normal
  // color: $theme.base.on.normal

  // .nz-ripple-effect
  //   background-color: alpha($theme.base.on.normal, 0.2)

  // &:hover .nz-ripple
  //   background-color: alpha($theme.base.on.normal, 0.1)

  nz-theme-component-states("base", "normal", $include:"base" "hover" "disabled")
  nz-theme-component-states("accent", "light", $include:"selected")

  &:before
    display: block
    content: " "
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    box-shadow: 0 -1px 0 $theme.base.dark,
      0 0 2px rgba(0, 0, 0, .12),
      0 2px 4px rgba(0, 0, 0, .24)

  .nz-ripple
    z-index: 1


.nz-data-grid-cell
  nz-typo: $typo.body2

  box-sizing: border-box
  overflow: hidden
  display: flex
  justify-content: flex-start
  align-items: center
  align-content: center
  cursor: default
  position: relative
  z-index: 2

  padding: 0 $nz-cell-padding

  &.first-cell
    padding-left: $nz-grid-padding

  &.last-cell
    padding-right: $nz-grid-padding


.nz-grid-filter-layer
  box-sizing: border-box
  background-color: $theme.base.normal
  padding: $nz-cell-padding
  overflow: hidden


.nz-grid-filter-chip
  display: flex
  box-sizing: border-box
  overflow: hidden
  align-items: center
  justify-content: flex-start
  background-color: $theme.base.normal
  font-size: 14px

  border-radius: 3px
  nz-elevation: 3
  height: nz-local-grid-size(8)
  padding: 0 0 0 nz-local-grid-size(4)
