@require "../util"

// $nz-data-grid-padding ?= nz-local-grid-size(6)
$nz-data-grid-header-height ?= nz-local-grid-size(11)
$nz-grid-padding ?= nz-local-grid-size(6)
$nz-cell-padding ?= nz-local-grid-size(2)

.nz-grid
  box-sizing: border-box
  position: relative

  display: flex
  flex-direction: column

  align-items: stretch
  align-content: stretch
  padding: $nz-grid-padding


.nz-columns
  box-sizing: border-box
  display: grid
  justify-content: stretch
  flex: none
  height: $nz-data-grid-header-height

.nz-column
  position: relative
  nz-typo: $typo.subtitle2

  box-sizing: border-box
  overflow: hidden
  height: $nz-data-grid-header-height
  display: flex
  align-items: center
  user-select: none

  padding: 0 $nz-cell-padding
  background-color: lighten($theme.base.on.normal, 95%)

  &:first-child
    padding-left: $nz-grid-padding

  &:last-child
    padding-right: $nz-grid-padding


.nz-data-grid-row
  display: grid
  justify-content: stretch


.nz-data-grid-cell
  nz-typo: $typo.body2

  box-sizing: border-box
  overflow: hidden
  display: flex
  justify-content: flex-start
  align-items: center
  align-content: center
  cursor: default

  padding: 0 $nz-cell-padding
  border-bottom: 1px solid lighten($theme.base.on.normal, 90%)
  transition: background-color 250ms, color 250ms

  &.first-cell
    padding-left: $nz-grid-padding

  &.last-cell
    padding-right: $nz-grid-padding


.nz-grid-filter-layer
  box-sizing: border-box
  background-color: $theme.base.normal
  padding: $nz-cell-padding
  overflow: hidden


.nz-grid-filter-chip
  display: flex
  box-sizing: border-box
  overflow: hidden
  align-items: center
  justify-content: flex-start
  background-color: $theme.base.normal
  font-size: 14px

  border-radius: 3px
  nz-elevation: 3
  height: nz-local-grid-size(8)
  padding: 0 0 0 nz-local-grid-size(4)
