$nz-grid-padding ?= nz-local-grid-size(6)
$nz-cell-padding ?= nz-local-grid-size(2)

.nz-grid
  position: relative

  display: flex
  flex-direction: column

  align-items: stretch
  align-content: stretch

  max-height: 100%
  max-width: 100%
  overflow: hidden

.nz-data-grid-row
  display: grid
  justify-content: stretch

  position: relative
  padding: 0

  background-color: $theme.base.normal
  // background-color: $theme.base.normal
  // color: $theme.base.on.normal

  // .nz-ripple-effect
  //   background-color: alpha($theme.base.on.normal, 0.2)

  // &:hover .nz-ripple
  //   background-color: alpha($theme.base.on.normal, 0.1)

  nz-theme-component-states("base", "normal", $include:"base" "hover" "disabled")
  nz-theme-component-states("base", "dark", $include:"selected")
  // nz-theme-component-states("common", "light", $include:"selected")



  &:before
    display: block
    content: " "
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    box-shadow: 0 -1px 0 $theme.base.dark,
      0 0 2px rgba(0, 0, 0, .12),
      0 2px 4px rgba(0, 0, 0, .24)

  .nz-ripple
    z-index: 1


.nz-data-grid-cell
  nz-typo: $typo.body2

  overflow: hidden
  display: flex
  justify-content: flex-start
  align-items: center
  align-content: center
  cursor: default
  position: relative
  z-index: 2

  padding: 0 $nz-cell-padding

  &.first-cell
    padding-left: $nz-grid-padding

  &.last-cell
    padding-right: $nz-grid-padding


