:stylus
  .close-button
    margin-left: 8px
    margin-right: 2px

  .field-title
    opacity: 0.7

  .filter-value
    margin-left: 4px


span.field-title {{ title }}{{ titleSeparator }}
div.filter-value
  ng-content

.nz-button.close-button(on-tap="onRemoveClick($event)", variant="filled icon", color="base")
  nz-icon(class=icon("mdi/close", 20))
