
.nz-list-filter-layer
  background-color: $theme.base.normal
  padding: 8px
  overflow: hidden


.nz-list-filter-chip
  display: flex
  overflow: hidden
  align-items: center
  justify-content: flex-start
  background-color: $theme.base.normal
  font-size: 14px

  border-radius: 3px
  nz-elevation: 3
  height: 32px
  padding: 0 0 0 16px
