:stylus
  .input-row
    padding: 8px

ng-template(#layer)
  form.nz-list-filter-layer(fxLayout="column", fxLayoutAlign="start stretch" style="min-width:300px", on-submit="applyValue();$event.preventDefault()", ngNoForm)
    .input-row(fxFlex="grow")
      .nz-form-field(fxFlex="grow", variant="slim outline")
        label {{ title }} tartalmazza
        input.nz-input([formControl]="value", cdkFocusInitial)

    div(fxFlex="noshrink", fxLayout="row", fxLayoutGap="8px")
      button.nz-button(*ngIf="value.value", fxFlex="noshrink", (tap)="clearValue()", color="base", variant="filled") Törlés
      div(fxFlex="grow")
      button.nz-button(fxFlex="noshrink", color="confirm" type="submit") Szűrés


ng-template(#chip)
  .nz-list-filter-chip([title]="title", on-remove="clearValue()")
    | {{ valueText }}

