:stylus
  .left-area
    z-index: 5

  .right-area
    z-index: 5

  .center-area
    opacity: 1
    transition: opacity 300ms
    z-index: 10

  .hide-overflow
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap


.hide-overflow(fxFlex="grow", fxLayout="row", fxLayoutAlign="center stretch", fxLayoutGap="8px", fxLayoutGap.xs="0px")
  .hide-overflow.left-area(fxFlex="grow", fxLayout="row", fxLayoutAlign="start center", fxLayoutGap="8px")
    ng-template(nzViewportArea="topLeft")

  .hide-overflow.center-area(fxFlex="grow", fxLayout="row", fxLayoutAlign="center center", fxLayoutGap="8px",
      [fxHide.xs]="!vps.navbarCenterOverlap",
      [ngStyle.xs]=`{
        'pointer-events': vps.navbarCenterOverlap ? 'auto' : 'none',
        'background-color': '#FFF',
        'position': 'absolute', 'top': '0px', 'left': '0px', 'right': '0px', 'bottom': '0px',
        'opacity': vps.navbarCenterOverlap ? 1 : 0}`)
    ng-template(nzViewportArea="topCenter")

  .hide-overflow.right-area(fxFlex="grow", fxLayout="row", fxLayoutAlign="end center", fxLayoutGap="8px")
    ng-template(nzViewportArea="topRight")

ng-template(nzViewportItem="topLeft:10")
  ng-container(*ngIf="vps.hasSidenav | async")
    button.nz-button(fxFlex="none", variant="medium icon", [disabled]="vps.menu.disabled", on-tap="vps.menu.opened=!vps.menu.opened")
      i.nz-icon(*ngIf="vps.menu.opened", class=icon("mdi/backburger"))
      i.nz-icon(*ngIf="!vps.menu.opened", class=icon("mdi/menu"))

ng-template([ngIf]="(vps.query('rightpanel') | async)?.length")
  ng-template(nzViewportItem="topRight:1000")
    button.nz-button(fxFlex="none", variant="medium icon", [disabled]="vps.right.disabled", on-tap="vps.right.opened=!vps.right.opened")
      i.nz-icon(*ngIf="vps.right.opened", class=icon("mdi/application-export"))
      i.nz-icon(*ngIf="!vps.right.opened", class=icon("mdi/application"))
