@require "../../util"

$nz-navbar-height ?= nz-local-grid-size(14)

.nz-navbar
  position: relative
  background: $theme.primary.normal
  padding: 0 nz-local-grid-size(2)
  height: $nz-navbar-height
  box-sizing: border-box
  nz-elevation: 3
  z-index: 10
  transition: background-color 300ms

.nz-navbar h1
  color: $theme.primary.on.normal
  nz-typo: $typo.h6
  margin: 0
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.nz-navbar-search
  position: relative
  // padding: 8px 8px 8px 16px
  padding: 8px 16px
  box-sizing: border-box
  height: $nz-navbar-height - 16px
  width: 100%

  background: $theme.base.normal
  color: $theme.base.on.normal

  //transition: background-color 400ms, color 400ms
  border-radius: 3px

  &:before
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    content: " "
    nz-elevation: 10
    opacity: 0.1
    transition: opacity 400ms

  &[opened]
    border-bottom-left-radius: 0px
    border-bottom-right-radius: 0px

    &:before
      opacity: 1

  &[focused]:before
    opacity: 1

  &[flat]
    height: 100%
    border-radius: 0
    background: transparent none

    &:before
      display: none
