@require "../../util"

$nz-navbar-height ?= nz-local-grid-size(14)

.nz-navbar
  position: relative
  display: flex
  background: $theme.primary.default
  padding: 0 nz-local-grid-size(4)
  align-items: center
  align-content: center
  height: $nz-navbar-height

.nz-navbar h1
  color: $theme.primary.on.default
  nz-typo: $typo.h6
  margin: 0

.nz-navbar .nz-button:not([color]):not([disabled]):not([variant~="filled"]),
.nz-navbar .nz-fab:not([color]):not([disabled]):not([variant~="filled"])
  color: $theme.primary.on.default


.nz-navbar-search
  position: relative
  width: 200px
  padding: 8px
  box-sizing: border-box

  background: $theme.primary.darker
  color: $theme.primary.on.darker

  transition: width 200ms, color 200ms
  border-radius: 2px

  &:before
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    content: " "
    nz-elevation: 6
    opacity: 0
    transition: opacity 200ms

  &[focused]
    background: $theme.background.default
    color: $theme.background.on.default
    width: 500px

    &:before
      opacity: 1
