:stylus
  .center-area
    opacity: 1
    transition: opacity 300ms


div(fxFlex="grow", fxLayout="row", fxLayoutAlign="center stretch", fxLayoutGap="8px", fxLayoutGap.xs="0px")

  div(fxFlex="grow", fxLayout="row", fxLayoutAlign="start center", fxLayoutGap="8px")
    ng-template(nzViewportArea="topLeft")

  div.center-area(fxFlex="grow", fxLayout="row", fxLayoutAlign="center center", fxLayoutGap="8px", ngStyle.xs="opacity:0",
      [ngStyle.xs]=`{
        'pointer-events': vps.navbarCenterOverlap ? 'auto' : 'none',
        'background-color': '#FFF',
        'position': 'absolute', 'top': '0px', 'left': '0px', 'right': '0px', 'bottom': '0px',
        'opacity': vps.navbarCenterOverlap ? 1 : 0}`)
    ng-template(nzViewportArea="topCenter")

  div(fxFlex="grow", fxLayout="row", fxLayoutAlign="end center", fxLayoutGap="8px")
    ng-template(nzViewportArea="topRight")

ng-template(nzViewportItem="topLeft:10")
  button.nz-button(fxFlex="none", variant="medium icon", [disabled]="vps.menu.disabled", on-tap="vps.menu.opened=!vps.menu.opened")
    i.nz-icon(*ngIf="vps.menu.opened", class=icon("mdi/backburger"))
    i.nz-icon(*ngIf="!vps.menu.opened", class=icon("mdi/menu"))

ng-template(nzViewportItem="topRight:1000")
  button.nz-button(fxFlex="none", variant="medium icon", [disabled]="vps.right.disabled", on-tap="vps.right.opened=!vps.right.opened")
    i.nz-icon(*ngIf="vps.right.opened", class=icon("mdi/application-export"))
    i.nz-icon(*ngIf="!vps.right.opened", class=icon("mdi/application"))
